<div mat-dialog-content>
  <form [formGroup]="noteCategories">
    <mat-form-field class="dialogForm">
      <input matInput placeholder=" Name" value="Name" formControlName="name" >

    </mat-form-field>
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
      enter the name
    
    </mat-error>
  </form>
</div>
<div mat-dialog-actions class="dialog-btn">
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">Add Link</button>
</div>