<mat-card class="auth-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>

    <div mat-card-title  class="card-title">Sign In</div>

  </mat-card-header>

  <mat-card-content>
  <form class="auth-form">

    <mat-form-field appearance="outline">
      <mat-label>Enter email</mat-label>
      <input matInput placeholder="email@domain.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input matInput type="password" placeholder="Your passwrod">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <input class="form-control" type="password" placeholder="password" id="password">
    </mat-form-field> -->
    <!-- <mat-grid-list cols="4" > -->
      <div class="text-center">
        <button mat-button mat-raised-button color="primary">SIGN IN</button>
      </div>
    <!-- </mat-grid-list> -->
    </form>



    <div class="text-color">
      <p class=""> Or login with</p>
    </div>
  </mat-card-content>
  <mat-card-actions>

    <div class="text-center">
          <a mat-fab class="btn-fab" routerLink="."><i class="fa fa-facebook font-icon" aria-hidden="true"></i></a>
          <a mat-fab class="btn-fab" routerLink="."><img class="google-icon" src="./assets/images/image.png" alt="google"></a>
    </div>
      <div class="signup-btn">
    <a class="" routerLink="" mat-button>Sign Up</a>
      </div>
</mat-card-actions>
</mat-card>
