<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
   
    <div mat-card-title  class="card-title">Sign In</div>
   
  </mat-card-header>
  
  <mat-card-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input class="form-control" type="text" placeholder="username / email" id="email">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input class="form-control" type="password" placeholder="password" id="password">
    </mat-form-field>
    <mat-grid-list cols="4" >
    
      <button mat-button class="btn-cls">SIGN IN</button>
    </mat-grid-list>
    </form>



    <div class="text-color">
      <p class=""> Or login with</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
   
    <div class="example-button-row btnfab">
             <a mat-fab class="btn-fab" routerLink="."><i class="fa fa-facebook font-icon" aria-hidden="true"></i></a>
             <a mat-fab class="btn-fab" routerLink="."><img class="google-icon" src="./assets/images/image.png" alt="google"></a>
    </div>
      <div class="signup-btn">
    <a class="" routerLink="">Sign Up</a>
      </div>
</mat-card-actions>
</mat-card>