// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.auth-card {
  max-width: 400px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
 max-height: 900px;
  margin-top: 110px;
  height: 600px;
  border-radius: 20px;
}
.card-title{
    font-size: 20px;
    margin-left: 100px;
    font-weight: bold;
    font-family: Poppins;
    padding-top: 30px;
}

// form fields
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}



mat-form-field {
//  padding-top: 10px;
  width: 300px;

}
.auth-form{
    padding-top: 40px;
}
// input[type=text]{
//     width: 300px;
//     height: 40px;
//     border: 1px solid;
//     border-radius:65px;

//     text-align: center;
//     // border: none;

// }
// input[type=password]{
//     width: 300px;
//     height: 40px;
//     border: 1px solid;
//     border-radius:65px;
//     // box-shadow: 20px;
//     text-align: center;
// }
.text-btn{
    padding-top: 20px;
}
.btn-cls{
    background-color: #BD59D4;
    
    color: #fff;
    width: 150px;
    border-radius: 30px;
    


}

/deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
  border: none;
  border-radius: 35px;
   box-shadow: 0px 0px 15px 0px #C0C0C0;
}


//fab-flat -buttons
// .example-button-row button,
// .example-button-row a {
//   margin-left: 8px;

// }
// .btnfab{
//     margin-left: 140px;
//     padding-bottom: 40px;
    
// }
.btn-fab{
     background-color: #fff;
     text-align: center;



}

.font-icon{

    font-size: 25px;
    color:#4267B2;
}
.google-icon{
    height: 25px;
}
.text-color{
    padding-top: 10px;
text-align: center;
 color: #C0C0C0;
}
.signupBtn{
    padding-top: 90px;
}