
<mat-card class="auth-card">
  <mat-card-header class="headerTitle">

    <div mat-card-title  class="card-title">Sign Up</div>

  </mat-card-header>

  <mat-card-content>

  <form class="auth-form text-center" [formGroup]="signupForm"   (ngSubmit)="submitForm()"  >

    <mat-form-field appearance="outline">
      <mat-label class="matLabel">Enter email</mat-label>
      <input matInput  placeholder="email@domain.com" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.invalid && email.touched">
        email is invalid
      </mat-error>

        </mat-form-field>

    <mat-form-field appearance="outline" class="input-s">
      <mat-label class="matLabel" >Enter password</mat-label>
      <input matInput type="password" placeholder="Your passwrod" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    
      <!-- <mat-hint>Must have one letter,One number</mat-hint> -->
      <mat-error *ngIf="password.invalid && password.touched">
        password is not correct
      </mat-error>
    </mat-form-field>

    
      <div class="text-center text-btn">
        <button mat-button mat-raised-button class="btn-cls">SIGN UP</button>
      </div>
    
    </form>

  </mat-card-content>
  <mat-card-actions>


      <div class="text-center loginBtn">
    <a mat-flat-button routerLink="/login">Logi In</a>
      </div>
</mat-card-actions>
</mat-card>
