
<mat-card class="auth-card">
  <mat-card-header class="headerTitle">

    <div mat-card-title  class="card-title">Sign Up</div>

  </mat-card-header>

  <mat-card-content>
  <form class="auth-form text-center">

    <mat-form-field appearance="outline">
      <mat-label class="matLabel">Enter email</mat-label>
      <input matInput  placeholder="email@domain.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-s">
      <mat-label class="matLabel" >Enter password</mat-label>
      <input matInput type="password" placeholder="Your passwrod">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <input class="form-control" type="password" placeholder="password" id="password">
    </mat-form-field> -->
    <!-- <mat-grid-list cols="4" > -->
      <div class="text-center text-btn">
        <button mat-button mat-raised-button class="btn-cls">SIGN UP</button>
      </div>
    <!-- </mat-grid-list> -->
    </form>




  </mat-card-content>
  <mat-card-actions>


      <div class="text-center loginBtn">
    <a mat-flat-button routerLink="/login">Logi In</a>
      </div>
</mat-card-actions>
</mat-card>
