<app-navbar></app-navbar>
<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>
	<mat-nav-list class="">
	    <a mat-list-item routerLink="links">link</a>
	    <a mat-list-item routerLink="#">none</a>
	    <a mat-list-item routerLink="#">none</a>
	    <a mat-list-item routerLink="#">none</a>
	    <a mat-list-item routerLink="#">none</a>
	</mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


	<app-links></app-links>

  </mat-sidenav-content>
</mat-sidenav-container>
